.giveOut {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height:100vh;
    text-align: center;
    position: relative;
    &__header {
        min-width: 50%;
        font: normal normal 600 30px/55px Open Sans;
        color: #3C3C3C;
        font-size: 20px;
        margin-right: 5%;
        opacity:1;
        &__decor {
            margin-top: 15px;
            width: 100%;
            min-height: 20px;
            background: transparent url('../assets/Decoration.svg') no-repeat center/contain;
        }
        &__square {
            margin-top:5vh;          
            display: flex;
            justify-content: center;
            align-items: center;
            
            &__border {
                position: relative;
                margin-top: 5vh;
                width: 180px;
                height: 180px;
                &::after {
                    position: absolute;
                    content:"";
                    width: 180px;
                    height: 180px;
                    border: 0.75px solid #3C3C3C;
                    opacity: 1;
                    transform: rotate(45deg);
                    top:0;
                    bottom:0;
                    left:0;
                    right:0;                }
             
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: -200px;
        left: -210px;
        width: 900px;
        height: 750px;
        z-index: -1;
        background: transparent url('../assets/Form-Hero-Image.jpg') no-repeat center/contain;
    }
}