.home4steps {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    &__header {
        font: normal normal normal 32px/55px $font-base;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5vh;
        &__decor{
            margin-top: 15px;
            width: 100%;
            height: 30px;
            background: transparent url('../assets/Decoration.svg') no-repeat center/contain;
        }
    }
    &__content {
        background-color: #F0F1F1;
        width: 100vw;
        ul {
           
            display: flex;
            justify-content: center;
            li {
                display: flex;
                flex-direction: column;
                align-items: center; 
                justify-content: space-between;
                margin: 5vw;
                span {
                    width:70px;
                    border-bottom: 1px solid #707070;
                    margin-bottom: 1vh;
                    border-top: none;

                }
        }
      
    }
    &__icon {
        margin-top: 15px;
        min-width: 80px;
        min-height: 80px;
    }
    &__title {
        padding-top: 3vh;
        font: normal normal normal 16px/24px $font-base;
        opacity: 1;
        color: $font-color;
        text-align: center;
    }
    &__explanation {
        color: $font-color;
        text-align: center;
        font: normal normal normal 14px/10px $font-base;
        line-height: 1.5;
    }
}
&__give-out-navigation {
    width:150px;
    border: 0.75px solid $font-color;
    padding: 10px 15px;
    margin-top:5vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 28px;
    color:$font-color;
}
}

.firstStep {
    background: transparent url('../assets/Icon-1.svg') no-repeat center/contain;
}
.secondStep {
    background: transparent url('../assets/Icon-2.svg') no-repeat center/contain;
}
.thirdStep {
    background: transparent url('../assets/Icon-3.svg') no-repeat center/contain;
}
.fourthStep {
    background: transparent url('../assets/Icon-4.svg') no-repeat center/contain;
}