.registration {
    margin-bottom: 40px;
    margin-top: 40px;
    width:100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__header {
        text-align: center;
        font: normal normal normal 40px/55px $font-base;
        letter-spacing: -0.8px;
        color: $font-color;
        opacity: 1;
        margin-bottom: 5vh;
    }
    &__decor {
        height: 30px;
        width: 200px;
        background: transparent url('../assets/Decoration.svg') no-repeat center/cover;
        margin-bottom: 5vh;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__container {
            background-color:#F0F1F1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 400px;
            height: 350px;
            padding: 30px 40px;
            margin-bottom: 5vh;
            &__login { 
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                label {
                    width: 100%;
                    text-align: left;
                    font: normal normal 800 16px/85px $font-base;
                    letter-spacing: 0px;
                    color: $font-color;
                    opacity: 1;
                }
                input {
                    width: 100%;
                    background-color:#F0F1F1;
                    border:none;
                    border-bottom: 1px solid #707070;
                    border-width: 100%;
                    opacity:1;
                    margin-bottom: 1vh;
                    outline: none;
                }
            }
            &__password {
                width: 100%;;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                label {
                    width: 100%;
                    text-align: left;
                    font: normal normal 800 16px/85px $font-base;
                    letter-spacing: 0px;
                    color: $font-color;
                    opacity: 1;
                }
                input {
                    width: 100%;
                    background-color:#F0F1F1;
                    border:none;
                    border-bottom: 1px solid #707070;
                    border-width: 100%;
                    opacity:1;
                    outline: none;
                }
            }
        }
        &__links {
            display: flex;
            width: 120%;
            justify-content: space-between;
            align-items: center;
            input {
                background-color: white;
                padding: 10px 15px;
                border: 0.75px solid $font-color;
                opacity: 1;
                text-align: left;
                font: normal normal 300 18px/32px $font-base;
                letter-spacing: 0px;
                color: #000000;
            }
        }
    }
}