body {
    font-family: $font-base;
    margin: 0;
    padding: 0;
}
.container {
    max-width:90%;
    margin:auto;
}
.link {
    outline: none;
    text-decoration: none;
}
.app {
    min-width: 100vw;
}
.error {
    font: normal normal 800 14px/32px $font-base;
    color:red;
    width: 280px;
    position: absolute;
    top:105%;
    right:-32%;
    opacity:1;
}