body {
    font-family: $font-base;
    margin: 0;
    padding: 0;
    width:100%;
}
.container {
    max-width:90%;
    margin:auto;
}
.link {
    cursor: pointer;
    text-decoration: none;
    &:active,&:focus, &:visited {
        outline: inherit;
        color: inherit;
    }
}
.app {
    max-width:100vw ;
}
.error {
    font: normal normal 800 14px/32px $font-base;
    color:red;
    width: 280px;
    position: absolute;
    top:105%;
    right:-32%;
    opacity:1;
}