.steps {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: transparent url('../assets/Background-Form.jpg') no-repeat center/cover;
    // padding: 20px;
    &__page {
        text-align: left;
        font: normal normal 300 24px/27px $font-base;
        letter-spacing: 0px;
        color: $font-color;
        opacity: 1;
        // margin-left: 20px;
        // margin-bottom: 20px;
    }
    &__header {
        text-align: center;
        font: normal normal 600 30px/45px $font-base;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        // margin-left: 20px;
        // margin-bottom: 20px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // margin-left: 20px;
        // margin-bottom: 20px;
        &__4step {
            // margin-left: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            &__address, &__collection{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 25%;
                // margin-right: 10px;
                &__container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                }
            }
            input {
                background-color : transparent;
                outline: none;
                border: 0.75px solid #3C3C3C;
                padding: 5px 10px;
            }
            textarea {
                background-color : transparent;
                outline: none;
                border: 0.75px solid #3C3C3C;
                width :55%;
                height: 100px;
            }
        }
        &__radio, &__select, &__checkbox {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input{
                border: 0.75px solid #3C3C3C;
                opacity: 1;
                width:20px;
                height:20px;
                appearance:none;
                outline:none;
                background-color: transparent;
                margin-right: 10px;
                margin-bottom: 10px;
                font: normal normal 300 24px/32px $font-base;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                cursor: pointer;
                &:checked {
                    background-color: #FAD648;
                    outline: none;
                }
            }
            label {
                text-align: left;
                font: normal normal 300 24px/32px $font-base;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
                // margin-right: 10px;
            }
            select  {
                background-color: transparent;
                outline: none;
                appearance: none;
                max-width: 150px ;
                padding: 10px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                option {
                    appearance: none;
                    background-color: transparent;//to jeszcze ogarnac ze stylowaniem
                };
                
            }
        }
        &__checkbox {
            width: 50%;
            flex-wrap: wrap;
        }
        
    }
    
}
.giveOut__backAndForth {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    justify-self: flex-end;
    // margin-left: 20px;
    &__back, &__forth {
        text-align: center;
        font: normal normal 300 24px/32px $font-base;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding: 15px 40px;
        min-width: 150px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10%;
    }
    &__back {
        justify-self: flex-start;
        // margin-right: 20px;
    }
    &__forth {
        justify-self: flex-end;
    }
}
.organization {
    width: 80%;
    background-color : transparent;
    outline: none;
    border: 0.75px solid #3C3C3C;
    padding: 10px 20px;

}
.step2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.steps__summary {
    // margin-left: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    h2 {
        font: normal normal 600 24px/45px $font-base;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    &__what {
        span {
            font: normal normal normal 24px/45px Open Sans;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }
    }
    &__when-where {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        font: normal normal 300 24px/32px Open Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        &__where {
            // margin-right: 20px;
        }

    }
}
.thanks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 200px;
    width: 100%;
    text-align: center;
    font: normal normal 300 40px/55px Open Sans;
    letter-spacing: -0.8px;
    color: #3C3C3C;
    opacity: 1;
    h1 {
        width: 50%;
    }
    &__decor {
        margin-top: 15px;
        width: 50%;
        min-height: 20px;
        background: transparent url('../assets/Decoration.svg') no-repeat center/contain;
    }
}