
.numbers {
    display: flex;
    width: 100%;
    padding: 8vh;
    background: transparent url('../assets/3 Columns Background.png') 0% 0% no-repeat padding-box;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
            font-size: 70px;
            color: #5E5322;
            margin-bottom: 5vh;
            letter-spacing: -0.36px;
        }
        h2{
            margin-bottom: 5vh;
            font: normal normal normal 18px/30px Open Sans;
            letter-spacing: -0.32px;
        }
        div {
            font: normal normal 300 16px/18px Merriweather;
            letter-spacing: -0.32px;
            line-height: 1.5;
        }
}

}